.summary{
    font-size:x-large;
    width: 450px;
    height: fit-content;
    border: 10px solid navy;
   padding: 50px;
   margin-top: 10%;
font-weight: bold;
}

.quote{
    font-size: 100%;
    margin: 2%;
    font-weight: bold;
}