.summary{
    font-size:large;
    width: 400px;
    height: fit-content;
    border: 15px solid #7b38d8;
   padding: 50px;
   margin: 20px;
}

.quote{
    font-size: 20px;
    margin: 2%;
    font-weight: bold;
}