<div class="summary">
<h1> Quote</h1>
<!-- Form Output using interpolation -->
 <p appHighlight>
    {{quote.quote}}
  </p>
    <p>
      Author: {{quote.Author}}
    </p>
    <p>
      Publisher: {{quote.name}}
    </p>
    <p>
       Date: {{quote.date|date}}
      </p>
      <p>
        Upvotes: <span class="up">{{quote.votesUp}}</span>
      </p>
      <p>
        Downvotes: <span class="down">{{quote.votesDown}}</span>
      </p>
<p>
  Quote Posted {{quote.date|dateCount}} days ago
</p>
</div>

