.summary{
   font-size:28px;
   width: 490px;
   height: fit-content;
   border: 10px solid navy;
   padding: 50px;
   margin-top: 10%;
   font-weight: bold;
}

.quote{
   font-size: 110%;
   margin: 2%;
   font-weight: bold;
}
.up,.down{
   color: white;
   font-size: xx-large;
}