<form id="qForm">
    <h1 class="">Add a Quote</h1>

     <div class="field">
     <label for="title">Your name:</label>
     <input name="name" id="name" #newName> 
     </div>
     <div class="field">
     <label for="link">Author's Name:</label>
     <input name="author" id="author" #newAuthor>
     </div>
     <div class="field">
        <label for="link">Quote:</label>
        <input name="quote" id="quote" #newQuote>
        </div>

        <div class="field">
            <label for="link">Completion date:</label>
            <input type="date" id="date" #newDate>

      </div>
</form>