<form #myForm="ngForm" (ngSubmit)="onPost(); myForm.resetForm()" id="qForm">
    <h1>Add Quote</h1>   
<div class="form">
 <div class="myForm">
     <label for="title">Name:</label>
     <input type="text" name="name" placeholder="Enter Your Name..." id="name" [(ngModel)]="newName" #name='ngModel' required> 
     <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            <p>Name is required</p>
     </div>
     </div>
     <hr>
 <div class="myForm">
     <label for="link">Author:</label>
     <input type="text" id="author" placeholder="Enter Author's Name..." name="Author" [(ngModel)]="newAuthor" #author='ngModel' required>
     <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
        <p>Author is required</p>
     </div>
     </div>
     <hr>
 <div class="myForm">
        <label for="link">Quote:</label>
        <input type="text" name="quote"placeholder="Enter Quote..." id="quote" [(ngModel)]="newQuote" #quote='ngModel' required>
        <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
            <p>Quote is required</p>
        </div>
        </div>
<hr>
 <div class="myForm">
       <label for="link">Date:</label>
       <input type="date" id="date" name="date" [(ngModel)]="newDate" #date='ngModel' required>
        <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
             <p>Date is required</p>
        </div>
        </div>
      <hr>
      <button type="submit" id="btn1"> Post Quote</button>
</div>
</form>


