body{
margin: 0;
padding: 0;
background-image: url(../../assets/image5.jpg);
height: 2000px;
overflow: hidden;
background-attachment: fixed;
color:white;

}
#quote{
    font-size: 40px;
    width: 100%;
    font-weight: bold;
    color: black;
}
.row{
   text-align: center;
}
.col-md-6{
  margin-top: 15%;
}
#btn{
 height: 70px;
 display: inline-block;
 background-color: #7b38d8;
 border-radius: 10px;
 border: 4px double #cccccc;
 color: #eeeeee;
 text-align: center;
 font-size: 28px;
 padding: 20px;
 width: 280px;
 padding: 0;
 margin-top: 20%;
 
}
.topnav {
   position: fixed;
    overflow: hidden;
    width: 100%;

    right: 0%;
  }

  .topnav a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    
  }
  #Home{
      margin-right: 80%;
  }
  
  .topnav a:hover {
    background-color:#7b38d8;
    color: black;
  }




