<body>
<div class="container">
    <div class="row">
          <div class="col-md-6">
        <p id="quote">Quoting means to repeat the exact words of a speaker or an author. A quote is also a passage or statement repeated in this way. It means to cite something as a form of proof.</p>
          </div>
<div class="col-md-6">
<button id="btn" onclick="document.location='https://blog.hubspot.com/sales/famous-quotes'" >Look for Quotes </button>
</div>
<app-form (emitQuote)="addQuote($event)"></app-form>
    </div>
    
      <div *ngFor="let quote of quotes let i=index">
    <app-summary [quote]="quote"></app-summary>
    <button class="btn1" (click)="voteUp(i)">Upvote </button>
    <button class="btn2" (click)="voteDown(i)">Downvote </button>
    <button class="btn btn-danger" (click)="delQuote(i)">Delete</button>
      </div>
  
</div>

</body>