<body>
<div class="container">
    <div class="row">
        <div class="topnav">
            
            <a id="Home" href="">Home</a>
            <a id=""href="">Add Quote</a>
        
          </div>
          <div class="col-md-6">
        <p id="quote">Quoting means to repeat the exact words of a speaker or an author. A quote is also a passage or statement repeated in this way. It means to cite something as a form of proof.</p>
          </div>
<div class="col-md-6">
<button (click)="onQuotes()" id="btn" >Look for Quotes </button>
</div>
<app-form></app-form>

    </div>
</div>
</body>