body{
   margin: 0;
   padding: 0;
   background-image: url(../../assets/image4.jpg);
   height: fit-content;
   width:auto;
   overflow: hidden;
   background-attachment: fixed;
   color:white;
}

#quote{
   font-size: 35px;
   width: 100%;
   font-weight:bolder;
   color:whitesmoke;
   background-color: navy;
   margin-top: 20%;
   border-radius: 5%;

}

.row{
   text-align: center;
}

#btn{
   height: 70px;
   display: inline-block;
   background-color: transparent;
   border-radius: 10px;
   border: 4px double #cccccc;
   color: #eeeeee;
   font-weight: bold;
   text-align: center;
   font-size: 28px;
   width: 280px;
   padding: 0;
   margin-top: 12%;
   position: relative;
   top: 40%;
}

#Home{
   margin-right: 80%;
}

.buttons{
   position: relative;
   right: 16%;
   font-size: xx-large;
   margin-top: 3%;
}
#up,#down{
   background-color: navy;
   color: white;
   margin-left: 10%;
}
#del{
   margin-left: 10%;
   background-color:brown;
   overflow: hidden;
   border-radius: 20%;
   font-weight: bold;
   color: white;
}
.icons {
   font-size: 25px;
   width: 200px;
   text-align: center;
   text-decoration: none;
   margin-top: 10px;

 }
 
 .fa:hover {
     opacity: 0.7;
 }
 .fa-facebook {
   background: transparent;
   color: white;
   margin-right: 10%;
 }
 
 .fa-twitter {
   background: transparent;
   color: white;
   margin-right: 10%;
 }
 .fa-youtube {
   background: transparent;
   color: white;
   margin-right: 10%;
 }
 
 .fa-instagram {
   background: transparent;
   color: white;
   margin-right: 10%;
 }
 
 .fa-pinterest {
   background: transparent;
   color: white;
 }
 footer{
    float: right;
    margin-top: 1%;
 }



