body{
   margin: 0;
   padding: 0;
   background-image: url(../../assets/image4.jpg);
   height: fit-content;
   width: auto;
   overflow: hidden;
   background-attachment: fixed;
   color:white;
}

#quote{
   font-size: 35px;
   width: 100%;
   font-weight:bolder;
   color:whitesmoke;
   background-color: navy;
   margin-top: 20%;
   border-radius: 5%;

}

.row{
   text-align: center;
}

#btn{
   height: 70px;
   display: inline-block;
   background-color: transparent;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  font-weight: bold;
  text-align: center;
  font-size: 28px;
  width: 280px;
  padding: 0;
  margin-top: 12%;
  position: relative;
  top: 40%;
}

#Home{
   margin-right: 80%;
}

.buttons{
   margin-left: 12%;
   width: 50%;
   font-size: x-large;
   margin-top: 6%;
}
#up,#down{
   border-radius: 15%;
   background-color: navy;
   color: white;
}
#del{
   margin-left: 1%;
   background-color:brown;
   overflow: hidden;
   border-radius: 20%;
   font-weight: bold;
   color: white;
}
.icons {
   font-size: 20px;
   width: 200px;
   text-align: center;
   text-decoration: none;
   margin-top: 10px;
 }
 
 .fa:hover {
     opacity: 0.7;
 }
 .fa-facebook {
   background: #3B5998;
   color: white;
   margin-right: 10%;
 }
 
 .fa-twitter {
   background: #55ACEE;
   color: white;
   margin-right: 10%;
 }
 .fa-youtube {
   background: #bb0000;
   color: white;
   margin-right: 10%;
 }
 
 .fa-instagram {
   background: #125688;
   color: white;
   margin-right: 10%;
 }
 
 .fa-pinterest {
   background: #cb2027;
   color: white;

 }



